<a href="https://colab.research.google.com/github/Aki55755/Batch_21_1422_DS/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Student Data
student_data = {
    'S_Name': ['Akash', 'deekshu', 'sharan', 'chaithu'],
    'S_RollNo': [101, 102, 103, 104],
    'M1': [85, 90, 78, 92],
    'M2': [83, 90, 71, 90],
    'M3': [80, 98, 70, 91],
}

# Create DataFrame
df = pd.DataFrame(student_data)

# Calculate Total
df['Total'] = df['M1'] + df['M2'] + df['M3']

# Calculate Result (Pass if Total > 150 else Fail)
df['Result'] = ['Pass' if total > 150 else 'Fail' for total in df['Total']]

# Calculate Average
df['Average'] = df['Total'] / 3

# Display final DataFrame
print(df)

# Save to Excel (without index column)
df.to_excel("Book1.xlsx", index=False)
print("\n✅ Data saved to Book1.xlsx")

    S_Name  S_RollNo  M1  M2  M3  Total Result    Average
0    Akash       101  85  83  80    248   Pass  82.666667
1  deekshu       102  90  90  98    278   Pass  92.666667
2   sharan       103  78  71  70    219   Pass  73.000000
3  chaithu       104  92  90  91    273   Pass  91.000000

✅ Data saved to Book1.xlsx